body{
	padding:0px auto;
	margin:0px auto;
	background-color: #F0EBEB;
	font-family: "游ゴシック";
	font-weight: bold;
}
#header{
	width: 100%;
    background: #99ce52;
    height: 150px;
}
#header h1{
    color: #FFF;
    font-weight: 600;
    font-size: 2em;
    padding-top: 45px;
}